#joystick-base {
  height: 300px;
  width: 300px;
  background-color: #dbdbdb;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 100px;
  position:absolute;
  padding:0;
}

#joystick-shaft{
  height: 150px;
  width:150px;
  max-width: 150px;
  border-radius: 50%;
  background-color: #666;
  position: absolute;
  /* top and left are half of joystick base top and left less the height/width of joystick shaft */
  top: 75px;
  left: 75px;
  margin:0;
}

button{
  height: 40px;
  padding-left:20px;
  padding-right: 20px;
  margin-right: 20px;
}

h1{
  margin-top: 30px;
}

body{
  margin-top: 100px;
  margin-left: 100px;
}
